<template>
  <div
  v-for="productClass in productClasses" :key="productClass.id"
  @click="clickType(productClass.id)"
  :class="[id == productClass.id ? 'active' : '']"
  class="col me-2 border text-center">
    規格{{ productClass.id }}
  </div>
</template>

<script>
export default {
  props: {
    productClasses: {
      type: Object,
      default: {},
    },
    id: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    clickType(e) {
      this.$emit('click-type', e)
    }
  },
};
</script>
<style lang="scss" scoped>
.active {
  background: #eee;
}
</style>