<template>
  <div>
    <input type="hidden" name="product_id" :value="product.id" />
    <input type="hidden" name="product_class_id" :value="id" />
    <button class="btn px-5 btn-lg btn-main" type="submit">カートに入れる</button>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: {},
    },
    id: {
      type: Number,
      default: 1,
    },
  },
};
</script>