<template>
<div class="row align-items-center">
  <div class="col-6">
    <product-image />
  </div>
  <div class="col-6">
    <div v-for="category in product.categories" :key="category.id">
      {{ category.category_name }}
    </div>
    <div class="mb-2 fs-4">{{ product.name }}</div>
    <div class="mb-2">{{ product.description_detail }}</div>
    <div class="mb-2">{{ product.recommend_text }}</div>
    <div class="d-flex mb-2">
      <product-type :productClasses="productClasses" :id="default" @click-type="getProductType" />
    </div>
    <div class="row mb-2">
      <product-price :productClasses="productClasses" :id="default" />
    </div>
    <div class="row mb-3">
      <product-quantity />
    </div>
    <div class="row">
      <product-cart :product="product" :id="default" />
    </div>
  </div>
</div>
</template>

<script>
import ProductType from './ProductType.vue'
import ProductImage from './ProductImage.vue'
import ProductPrice from './ProductPrice.vue'
import ProductQuantity from './ProductQuantity.vue'
import ProductCart from './ProductCart.vue'

export default {
  components: {
    ProductType,
    ProductImage,
    ProductPrice,
    ProductQuantity,
    ProductCart
  },
  props: {
    product: {
      type: Object,
      default: {},
    },
    id: {
      type: Number,
      default: 1,
    },
  },
  mounted() {
    //console.log(this.product)
  },
  data() {
    return {
      categories: this.product.categories,
      productClasses: this.product.productClasses,
      productImages: this.product.productImages,
      default: this.id
    };
  },
  methods: {
    getProductType(event) {
      this.default = event;
    }
  },
};
</script>