<template>
  <div v-for="productClass in productClasses" :key="productClass.id">
    <template v-if="productClass.id == id">￥{{ productClass.price02.toLocaleString() }}</template>
  </div>
</template>

<script>
export default {
  props: {
    productClasses: {
      type: Object,
      default: {},
    },
    id: {
      type: Number,
      default: 0,
    },
  },
};
</script>