<template>
  <div>
    <select name="quantity">
      <option v-for="n in 10" :key="n" :value="n">{{ n }}</option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
  },
  data() {
    return {
    };
  },
  emits: [
    'clickType'
  ],
};
</script>