// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$main-color: #232f3e;

body {
  background: #eee;
}

header {
  background: $main-color;
}

footer {
  background: $main-color;
}

a {
  color: $main-color;
  text-decoration: none;
}

.btn-main,
.btn-main:hover {
  background: #eb972a;
  color: #fff;
}

.login-bg {
  background: $main-color;
}