<template>
  <div class="mb-3">
    <label for="kana" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">フリナガ</span></label>
    <div class="row">
      <div class="col">
        <input
        id="kana01"
        type="text"
        class="form-control"
        :class="[errorKana01.length > 0 || errorKana01Real ? 'active' : '']"
        name="kana01"
        v-model="kana01"
        required
        placeholder="セイ"
        autocomplete="kana01"
        autofocus>
        <div
        v-for="(error, index) in errorKana01"
        :key="index"
        class="text-danger"
        >
          {{ error }}
        </div>
        <div
        v-if="errorKana01Real"
        class="text-danger"
        >
          {{ errorKana01Real }}
        </div>
      </div>
      <div class="col">
        <input
        id="kana02"
        type="text"
        class="form-control"
        :class="[errorKana02.length > 0 || errorKana02Real ? 'active' : '']"
        name="kana02"
        v-model="kana02"
        required
        placeholder="メイ"
        autocomplete="kana02"
        autofocus
        >
        <div
        v-for="(error, index) in errorKana02"
        :key="index"
        class="text-danger"
        >
          {{ error }}
        </div>
        <div
        v-if="errorKana02Real"
        class="text-danger"
        >
          {{ errorKana02Real }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldKana01: {
      type: String,
      default: "",
    },
    oldKana02: {
      type: String,
      default: "",
    },
    errorKana01: {
      type: Array,
      default: [],
    },
    errorKana02: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      kana01: this.oldKana01,
      kana02: this.oldKana02,
    };
  },
  computed: {
    errorKana01Real: function () {
      if (String(this.kana01).length > 5) {
        return "姓は5文字以内で指定してください。"
      }
    },
    errorKana02Real: function () {
      if (String(this.kana02).length > 5) {
        return "姓は5文字以内で指定してください。"
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>