<template>
  <div class="mb-3">
    <label for="age" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">生年月日</span></label>
    <div class="row w-50 g-2">
      <div class="col-4">
        <select
        id="year"
        class="form-select"
        :class="[errorYear.length > 0 ? 'active' : '']"
        name="year"
        v-model="yearSelected"
        >
          <option value="0">年</option>
          <option
          v-for="(year, index) in years"
          :key="index"
          :value="year"
          >
          {{ year }}
          </option>
        </select>
      </div>
      <div class="col-4">
        <select
        id="month"
        class="form-select"
        :class="[errorMonth.length > 0 ? 'active' : '']"
        name="month"
        v-model="monthSelected"
        >
          <option value="0">月</option>
          <option
          v-for="(month, index) in months"
          :key="index"
          :value="month"
          >
          {{ month }}
          </option>
        </select>
      </div>
      <div class="col-4">
        <select
        id="day"
        class="form-select"
        :class="[errorDay.length > 0 ? 'active' : '']"
        name="day"
        v-model="daySelected"
        >
          <option value="0">日</option>
          <option
          v-for="(day, index) in days"
          :key="index"
          :value="day"
          >
          {{ day }}
          </option>
        </select>
      </div>
      <div
      v-for="(error, index) in errorYear"
      :key="index"
      class="m-0 text-danger"
      >
        {{ error }}
      </div>
      <div
      v-for="(error, index) in errorMonth"
      :key="index"
      class="m-0 text-danger"
      >
        {{ error }}
      </div>
      <div
      v-for="(error, index) in errorDay"
      :key="index"
      class="m-0 text-danger"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldYear: {
      type: Number,
      default: 0,
    },
    errorYear: {
      type: Array,
      default: [],
    },
    years: {
      type: Array,
      default: [],
    },
    oldMonth: {
      type: Number,
      default: 0,
    },
    errorMonth: {
      type: Array,
      default: [],
    },
    months: {
      type: Array,
      default: [],
    },
    oldDay: {
      type: Number,
      default: 0,
    },
    errorDay: {
      type: Array,
      default: [],
    },
    days: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      year: this.oldYear,
      month: this.oldMonth,
      day: this.oldDay,
      yearSelected: this.oldYear ? this.oldYear : 0,
      monthSelected: this.oldMonth ? this.oldMonth : 0,
      daySelected: this.oldDay ? this.oldDay : 0,
    };
  },
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>