<template>
  <div class="mb-3">
    <label for="zipcode" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">お届け先</span></label>
    <div class="row w-50 g-2 align-items-center mb-2">
      <div class="col-1 text-center">〒</div>
      <div class="col-4">
        <input
        id="zip01"
        type="text"
        class="form-control"
        :class="[errorZip01.length > 0 ? 'active' : '']"
        name="zip01"
        v-model="zip01"
        required
        placeholder="123"
        >
      </div>
      <div class="col-1 text-center">-</div>
      <div class="col-4">
        <input
        id="zip02"
        type="text"
        class="form-control"
        :class="[errorZip02.length > 0 ? 'active' : '']"
        name="zip02"
        v-model="zip02"
        required
        placeholder="1234"
        >
      </div>
      <div
      v-for="(error, index) in errorZip01"
      :key="index"
      class="m-0 text-danger"
      >
        {{ error }}
      </div>
      <div
      v-for="(error, index) in errorZip02"
      :key="index"
      class="m-0 text-danger"
      >
        {{ error }}
      </div>
      <input
      id="zipcode"
      type="hidden"
      class="form-control"
      name="zipcode"
      value=""
      >
    </div>
    <div class="mb-2 w-50">
      <select id="pref"
      class="form-select"
      :class="[errorPref.length > 0 ? 'active' : '']"
      name="pref"
      v-model="selected"
      >
        <option value="0">都道府県を選択</option>
        <option
        v-for="(pref, index) in prefs"
        :key="index"
        :value="index"
        >
        {{ pref }}
        </option>
      </select>
      <div
      v-for="(error, index) in errorPref"
      :key="index"
      class="text-danger"
      >
        {{ error }}
      </div>
    </div>
    <input
    id="addr01"
    type="text"
    class="form-control"
    :class="[errorAddr01.length > 0 ? 'active' : '']"
    name="addr01"
    v-model="addr01"
    placeholder="市区町村名・番地・建物名を入力"
    >
    <div
    v-for="(error, index) in errorAddr01"
    :key="index"
    class="text-danger"
    >
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldZip01: {
      type: Number,
      default: 0,
    },
    oldZip02: {
      type: Number,
      default: 0,
    },
    oldZipcode: {
      type: Number,
      default: 0,
    },
    oldPref: {
      type: Number,
      default: 0,
    },
    oldAddr01: {
      type: Array,
      default: [],
    },
    errorZip01: {
      type: Array,
      default: [],
    },
    errorZip02: {
      type: Array,
      default: [],
    },
    errorZipcode: {
      type: Array,
      default: [],
    },
    errorPref: {
      type: Array,
      default: [],
    },
    errorAddr01: {
      type: Array,
      default: [],
    },
    prefs: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      zip01: this.oldZip01,
      zip02: this.oldZip02,
      zipcode: this.oldZipcode,
      pref: this.oldPref,
      addr01: this.oldAddr01,
      selected: this.oldPref ? this.oldPref : 0,
    };
  },
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>