<template>
  <div class="mb-3">
    <label for="name" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">お名前</span></label>
    <div class="row">
      <div class="col">
        <input
        id="name01"
        type="text"
        class="form-control"
        :class="[errorName01.length > 0 || errorName01Real ? 'active' : '']"
        name="name01"
        v-model="name01"
        required
        placeholder="姓"
        autocomplete="name01"
        autofocus>
        <div
        v-for="(error, index) in errorName01"
        :key="index"
        class="text-danger"
        >
          {{ error }}
        </div>
        <div
        v-if="errorName01Real"
        class="text-danger"
        >
          {{ errorName01Real }}
        </div>
      </div>
      <div class="col">
        <input
        id="name02"
        type="text"
        class="form-control"
        :class="[errorName01.length > 0 || errorName01Real ? 'active' : '']"
        name="name02"
        v-model="name02"
        required
        placeholder="名"
        autocomplete="name02"
        autofocus
        >
        <div
        v-for="(error, index) in errorName02"
        :key="index"
        class="text-danger"
        >
          {{ error }}
        </div>
        <div
        v-if="errorName02Real"
        class="text-danger"
        >
          {{ errorName02Real }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldName01: {
      type: String,
      default: "",
    },
    oldName02: {
      type: String,
      default: "",
    },
    errorName01: {
      type: Array,
      default: [],
    },
    errorName02: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      name01: this.oldName01,
      name02: this.oldName02,
    };
  },
  computed: {
    errorName01Real: function () {
      if (String(this.name01).length > 5) {
        return "姓は5文字以内で指定してください。"
      }
    },
    errorName02Real: function () {
      if (String(this.name02).length > 5) {
        return "姓は5文字以内で指定してください。"
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>