<template>
  <div class="mb-3">
    <label for="sex" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">性別</span></label>
    <div class="col">
      <div
      v-for="(sex, index) in sexs"
      :key="index"
      class="form-check form-check-inline"
      >
        <input
        :id="`sex${index}`"
        class="form-check-input"
        :class="[errorSex.length > 0 ? 'active' : '']"
        type="radio"
        name="sex"
        :value="index"
        :checked="oldSex"
        >
        <label :for="`sex${index}`" class="form-check-label">
          {{ sex }}
        </label>
      </div>
      <div
      v-for="(error, index) in errorSex"
      :key="index"
      class="text-danger"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldSex: {
      type: Number,
      default: 0,
    },
    errorSex: {
      type: Array,
      default: [],
    },
    sexs: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
    };
  },
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>