<template>
  <div class="mb-3">
    <label for="password" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">パスワード</span></label>
    <input
    id="password"
    type="password"
    class="form-control"
    :class="[errorPass.length > 0 ? 'active' : '']"
    name="password"
    required
    placeholder="半角英数字8文字以上で入力"
    autocomplete="new-password"
    value=""
    >
    <div
    v-for="(error, index) in errorPass"
    :key="index"
    class="text-danger"
    >
      {{ error }}
    </div>
  </div>
  <div class="mb-3">
    <label for="password-confirm" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">パスワード確認</span></label>
    <input
    id="password-confirm"
    type="password"
    class="form-control"
    name="password_confirmation"
    required
    placeholder="確認のためもう一度入力"
    autocomplete="new-password"
    >
  </div>
</template>

<script>
export default {
  props: {
    errorPass: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
    };
  },
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>