<template>
  <div class="mb-3">
    <label for="email" class="col-form-label pb-2"><span class="px-1 border border-danger text-danger">必須</span><span class="ps-2">メールアドレス</span></label>
    <input
    id="email"
    type="email"
    class="form-control"
    :class="[errorEmail.length > 0 ? 'active' : '']"
    name="email"
    v-model="oldEmail"
    required
    placeholder="半角英数字で入力"
    autocomplete="email"
    >
    <div
    v-for="(error, index) in errorEmail"
    :key="index"
    class="text-danger"
    >
      {{ error }}
    </div>
    <div
    v-if="errorEmailReal"
    class="text-danger"
    >
      {{ errorEmailReal }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldEmail: {
      type: String,
      default: "",
    },
    errorEmail: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      email: this.oldEmail,
    };
  },
  computed: {
    errorEmailReal: function () {
      if (String(this.email).length > 20) {
        return "メールアドレスは20文字以内で指定してください。"
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>