<template>
  <div class="mb-3">
    <label for="company_name" class="col-form-label pb-2">ニックネーム</label>
    <input
    id="company_name"
    type="text"
    class="form-control"
    :class="[errorNicReal ? 'active' : '']"
    name="company_name"
    v-model="nic"
    required
    placeholder="15字以内で入力"
    autocomplete="email"
    >
    <div
    v-if="errorNicReal"
    class="text-danger"
    >
      {{ errorNicReal }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oldNic: {
      type: String,
      default: "",
    },
    errorNic: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      nic: this.oldNic,
    };
  },
  computed: {
    errorNicReal: function () {
      if (String(this.nic).length > 15) {
        return "ニックネームは15文字以内で指定してください。"
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.active {
  border: 1px solid #dc3545;
}
</style>