// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$main-color: #212529;

body {
  background: #eee;
}

header {
  background: $main-color;
}

footer {
  background: $main-color;
}

a {
  color: $main-color;
  text-decoration: none;
}