<template>
  <div v-for="category in categories" :key="category.id">
    <div><b>{{ category.category_name }}</b></div>
    <div v-for="child in category['childCategories']" :key="child.id">
      <div><a :href="`/category${ child.id }`">{{ child.category_name }}</a></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Object,
      default: {},
    },
    id: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      default: this.id
    };
  },
};
</script>