<template>
  <textarea
  class="form-control mb-2"
  rows="3"
  v-model="note"
  ></textarea>
  <div class="text-end">
    <button class="btn btn-md btn-primary" @click="noteRegister">登録</button>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 0,
    },
    text: {
      type: String,
      default: "",
    },
    token: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      note: this.text,
      url: "/api/admin/order/note",
    };
  },
  methods: {
    noteRegister: function(){
      const url = this.url
      axios.post(url,{
        order_id: this.id,
        note: this.note,
        csrf_token: this.token
      }).then(res=>{
        alert("備考欄を登録しました");
      }).catch(err=>{
        console.log(err)
      })
    }
  },
};
</script>
