<template>
  <div class="row w-100 g-2">
    <div class="col">
      <input
      type="text"
      class="form-control"
      name="pay"
      maxlength="6"
      v-model="pay"
      />
    </div>
    <div class="col">
      <button class="btn btn-md btn-primary" @click="payRegister">登録</button>
    </div>
  </div>
  <div
  class="text-danger"
  v-if="error"
  >
  {{ error }}
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 0,
    },
    token: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      pay: this.pay,
      url: "/api/admin/payment/create",
      error: ""
    };
  },
  methods: {
    payRegister: function(){
      const url = this.url
      if (String(this.pay).match(/^\d+$/)) {
        axios.post(url,{
          order_id: this.id,
          pay: this.pay,
          csrf_token: this.token
        }).then(res=>{
          console.log(res)
          location.reload()
        }).catch(err=>{
          console.log(err)
        })
      } else {
        this.error = "数字で入力してください"
      }
    }
  },
};
</script>
