<template>
<input
  type="text"
  :name="`class[${id}][stock]`"
  v-model="stock"
  class="form-control w-100"
  :disabled="isChecked"
/>
<div class="form-check form-check-inline">
  <input
    :id="`stock-unlimited${id}`"
    class="form-check-input"
    type="checkbox"
    :name="`class[${id}][stock_unlimited]`"
    :value="isChecked"
    v-model="isChecked"
  >
  <label class="form-check-label" :for="`stock-unlimited${id}`">
    無制限
  </label>
</div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 0,
    },
    valueStock: {
      type: Number,
      default: null,
    },
    valueStockUnlimited: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      isChecked: this.valueStockUnlimited == 1 ? true : false,
      stock: this.valueStock != 0 ? this.valueStock : ""  
    };
  },
};
</script>
