<template>
  <div class="row g-2 align-items-center">
    <div class="col-5">
      <select
      id="product-all"
      class="form-select"
      name="product_all"
      v-model="categoryParam"
      >
        <option value="0" selected>全ての商品</option>
        <option
        v-for="(category, index) in categories"
        :key="index"
        :value="index"
        >
        {{ category }}
        </option>
      </select>
    </div>
    <div class="col-5">
      <input
      type="text"
      class="form-control"
      name="product_multiple"
      v-model="productParam"
      placeholder="商品名・商品ID・商品コード"
      >
    </div>
    <div class="col-2">
      <button
      type="button"
      class="btn btn-block btn-primary btn-md"
      @click="searchProduct"
      >
      検索
      </button>
    </div>
  </div>
  <div class="mt-3">
    <div
    v-for="(product, index) in products"
    :key="index"
    :value="index"
    >
    {{ product['name'] }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Object,
      default: [],
    },
    token: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      categoryParam: 0,
      productParam: "",
      url: "/api/admin/order/products",
      products: "",
    };
  },
  methods: {
    searchProduct: function(){
      const url = this.url
      axios.post(url,{
        category: this.categoryParam,
        product: this.productParam,
        csrf_token: this.token
      }).then(res=>{
        console.log(res.data.products)
        this.products = res.data.products
      }).catch(err=>{
        console.log(err)
      })
    }
  },
};
</script>
