<template>
  <div class="row g-2 align-items-center">
    <div class="col-10">
      <input
      type="text"
      class="form-control"
      name="user_id"
      v-model="userParam"
      placeholder="会員ID"
      >
    </div>
    <div class="col-2">
      <button
      type="button"
      class="btn btn-block btn-primary btn-md"
      @click="searchUser"
      >
      検索
      </button>
    </div>
  </div>
  <div class="mt-3">
    <table
      v-if="user"
      class="table"
    >
      <tr>
        <th class="p-2">ID</th>
        <th class="p-2">お名前</th>
        <th class="p-2">メールアドレス</th>
      </tr>
      <tr>
        <td class="p-2 align-middle">{{ user['id'] }}</td>
        <td class="p-2 align-middle">{{ user['name01'] }} {{ user['name02'] }}</td>
        <td class="p-2 align-middle">{{ user['email'] }}</td>
        <td class="p-2 align-middle">
          <button
          type="button"
          class="btn btn-block btn-primary btn-md bg-light text-black border"
          >
          追加
          </button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    token: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      userParam: "",
      url: "/api/admin/order/user",
      user: "",
    };
  },
  methods: {
    searchUser: function(){
      const url = this.url
      axios.post(url,{
        user: this.userParam,
        csrf_token: this.token
      }).then(res=>{
        this.user = res.data.user
      }).catch(err=>{
        console.log(err)
      })
    }
  },
};
</script>
