<template>
  <div class="row w-100 g-2">
    <div class="col">
      <input
      type="text"
      class="form-control"
      name="number"
      v-model="number"
      />
    </div>
    <div class="col">
      <button class="btn btn-md btn-primary" @click="trackRegister">登録</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 0,
    },
    token: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      number: this.number,
      url: "/api/admin/tracking/create",
    };
  },
  methods: {
    trackRegister: function(){
      const url = this.url
      axios.post(url,{
        order_id: this.id,
        number: this.number,
        csrf_token: this.token
      }).then(res=>{
        //console.log(res)
        location.reload()
      }).catch(err=>{
        console.log(err)
      })
    }
  },
};
</script>
