<template>
  <table class="table table-borderless">
    <template
    v-for="(tracking, index) in trackings"
    :key="index"
    >
      <tr>
        <th class="align-middle fw-normal col-3 p-2 border-0 border-bottom">追跡番号{{ index + 1 }}</th>
        <td class="align-middle col-auto p-2 border-0 border-bottom">
          <span>{{ tracking.number }}</span>
          <button class="btn btn-md btn-light border" @click="trackingDelete(tracking.id)">削除</button>
        </td>
      </tr>
    </template>
  </table>
</template>

<script>
export default {
  props: {
    token: {
      type: String,
      default: "",
    },
    trackings: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      tracking: this.tracking,
      url: "/api/admin/tracking/delete",
    };
  },
  methods: {
    trackingDelete: function(id){
      const url = this.url
      axios.post(url,{
        id: id,
        csrf_token: this.token
      }).then(res=>{
        console.log(res)
        location.reload()
      }).catch(err=>{
        console.log(err)
      })
    }
  },
};
</script>
