<template>
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-body">
      <div class="mb-2 fs-4">お支払い方法を選択してください</div>
      <shopping-payment
      :payments="payments"
      @click-pay="getPayment"
      >
      </shopping-payment>
    </div>
  </div>
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-body">
      <table class="table table-hover m-0">
        <thead>
          <tr class="border-bottom-0">
            <th class="w-50">商品名</th>
            <th class="w-15">価格</th>
            <th>数量</th>
            <th class="w-25 text-end">小計</th>
          </tr>
        </thead>
        <tbody class="border-top-0">
          <tr v-for="orderDetail in orderDetails" :key="orderDetail.id">
            <td class="align-middle">
              <img src="http://via.placeholder.com/50x50" alt="">
              <span class="p-2">{{ orderDetail.name }} {{ orderDetail.dose }} {{ orderDetail.shape }}</span>
            </td>
            <td class="align-middle">￥{{ orderDetail.price.toLocaleString() }}</td>
            <td class="align-middle">{{ orderDetail.quantity }}</td>
            <td class="align-middle text-end">￥{{ orderDetail.subtotal.toLocaleString() }}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <shopping-usepoint
        :userPointValue="userPointValue"
        :jsErrors="jsErrors"
        :phpErrors="phpErrors"
        @input-point="getPoint"
        >
        </shopping-usepoint>
        <shopping-claim
        :totalValue="totalValue"
        :deliveryFeeTotal="deliveryFeeTotal"
        :usePointValue="usePointValue"
        :addPointValue="addPointValue"
        >
        </shopping-claim>
      </div>
    </div>
  </div>
</template>

<script>
import ShoppingPayment from './ShoppingPayment.vue'
import ShoppingUsepoint from './ShoppingUsepoint.vue'
import ShoppingClaim from './ShoppingClaim.vue'

export default {
  components: {
    ShoppingPayment,
    ShoppingUsepoint,
    ShoppingClaim,
  },
  props: {
    userPoint: {
      type: Number,
      default: 0,
    },
    order: {
      type: Object,
      default: {},
    },
    orderDetails: {
      type: Object,
      default: {},
    },
    payments: {
      type: Object,
      default: {},
    },
    phpErrors: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      total: this.order.total,
      deliveryFeeTotal: this.order.delivery_fee_total,
      addPoint: this.order.add_point,
      paymentId: 0,
      usePoint: 0,
      jsErrors: [],
    };
  },
  computed: {
    userPointValue: function () {
      if (this.total <= this.userPoint) {
        if (this.paymentId == 6) {
          return this.total - 1000
        } else {
          return this.total
        }
      } else {
        return this.userPoint
      }
    },
    totalValue: function () {
      if ( this.jsErrors.length > 0 ) {
        return this.total
      }
      const clacTotal = (this.total - this.usePoint) > 0 ?  (this.total - this.usePoint) : this.total
      if (this.paymentId == 6 && clacTotal < 1000) {
        this.jsErrors[2] = "クレジットカードはご請求額が1000円以上から使用できます。"
        return this.total
      } else {
        return clacTotal
      }
    },
    usePointValue: function () {
      const value = this.usePoint
      if (value != "") {
        if ( value.match('^[0-9]{1,5}$') == null ) {
          this.jsErrors[0] = "ポイントは正しく入力してください。"
        } else {
          this.jsErrors = []
        }
        if ( Number(value) > Number(this.userPointValue) ) {
          this.jsErrors[1] = "ご使用ポイントが保有ポイントを超えています。"
        }
      }    
      if ( this.jsErrors.length > 0 ) {
        return 0
      }
      return Number(value)
    },
    addPointValue: function () {
      if ( this.jsErrors.length > 0 ) {
        return this.addPoint
      }
      return Math.round(this.totalValue * 0.05)
    }
  },
  methods: {
    getPayment(e) {
      this.paymentId = e;
    },
    getPoint(e) {
      this.usePoint = e;
    },
  },
};
</script>