<template>
  <div
  v-for="(payment, index) in payments"
  :key="payment.id"
  class="form-check form-check-inline"
  @click="clickPay(payment.id)"
  >
    <input :id="`payment${payment.id}`" class="form-check-input" type="radio" name="payment" :value="payment.id" :checked="index == 0">
    <label :for="`payment${payment.id}`" class="form-check-label">
      {{ payment.name }}
    </label>
  </div>
</template>

<script>
export default {
  props: {
    payments: {
      type: Object,
      default: {},
    },
  },
  emits: ['click-pay'],
  methods: {
    clickPay(e) {
      this.$emit('click-pay', e)
    }
  },
};
</script>