<template>
  <div class="col-4 text-end">
    <div class="row border-bottom">
      <div class="col py-2 fs-4 text-start">ご請求</div>
      <div class="col py-2 fs-4">￥{{ totalValue }}</div>
    </div>
    <div class="row border-bottom">
      <div class="col py-2 text-start">送料</div>
      <div class="col py-2">￥{{ deliveryFeeTotal.toLocaleString() }}</div>
    </div>
    <div class="row border-bottom">
      <div class="col py-2 text-start">使用pt</div>
      <div class="col py-2">-{{ usePointValue }}pt</div>
    </div>
    <div class="row border-bottom">
      <div class="col py-2 text-start">還元pt</div>
      <div class="col py-2">{{ addPointValue }}pt</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    totalValue: {
      type: Number,
      default: 0,
    },
    deliveryFeeTotal: {
      type: Number,
      default: 0,
    },
    usePointValue: {
      type: Number,
      default: 0,
    },
    addPointValue: {
      type: Number,
      default: 0,
    }
  },
};
</script>