<template>
  <div class="col-8 pt-2">
    <div class="mb-2">ご使用ポイントをご入力ください。<span class="text-danger fw-bold">{{ userPointValue }}ポイント</span>までご使用できます。<br>
    クレジットカードはご請求額が1000円以上から使用できます。</div>
    <div class="row w-50 g-2 align-items-center mb-2">
      <div class="col-6">
        <input
        id="use-point"
        type="text"
        class="form-control"
        name="use_point"
        maxlength="5"
        v-model="usePoint"
        @input="inputPoint()"
        @focus="focusPoint"
        />
      </div>
      <div class="col-auto">
        pt
      </div>
    </div>
    <div
    v-for="(jsError, index) in jsErrors"
    :key="index"
    class="text-danger"
    >
    {{ jsError }}
    </div>
    <div v-if="show">
      <div
      v-for="(phpError, index) in phpErrors"
      :key="index"
      class="text-danger"
      >
      {{ phpError }}
      </div>
    </div>
  </div>            
</template>

<script>
export default {
  props: {
    userPointValue: {
      type: Number,
      default: 0,
    },
    jsErrors: {
      type: Object,
      default: [],
    },
    phpErrors: {
      type: Object,
      default: [],
    }
  },
  data() {
    return {
      usePoint: 0,
      show: true,
    };
  },
  methods: {
    inputPoint() {
      this.$emit('input-point', this.usePoint)
    },
    focusPoint() {
      this.show = false
    },
  },
};
</script>